{% extends 'BackBundle:Default:layout.html.twig' %}


{% block title %} {% endblock %}
{% block stylesheets %}    {{ parent() }}   {% endblock %}
{% block javascript %}{{ parent() }} {% endblock %}

{% block container %}

   <link rel="stylesheet" href="{{ asset('bundles/back/js/select2/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/back/js/select2/select2.min.css') }}">
              <script src="{{ asset('bundles/back/js/select2/select2.min.js') }}"  type="text/javascript"></script>  
    <script>
        $(function(){
            // turn the element to select2 select style
            $('select').select2();

        });
    </script>
    <section class="content">
        <div class="row">
            <!-- left column -->


            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="col-md-12">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-check"></i> {{ 'modal.successmodification.entete'|trans  }}</h4>
                            {{ flash_message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- /.box -->
            {#                                             #}
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Modifier un  medecin</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    {#<form class="form-horizontal">#}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontalndar','novalidate': 'novalidate'} }) }}
                    <div class="box-body" style="height: 40%;">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label required">Nom</label>
                            <div class="col-sm-4" style="height: 34px;">
                                {{ form_widget(form.nom) }}
                                <div class="text-red"> {{ form_errors(form.nom) }}</div>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label required">Telephone</label>
                            <div class="col-sm-4" style="height: 34px;">
                                {{ form_widget(form.telephone) }}
                                <div class="text-red"> {{ form_errors(form.telephone) }}</div>
                            </div>

                            </br>

                            <label for="inputEmail3" style="margin-top: 30px;" class="col-sm-2 control-label required">Adresse</label>
                            <div class="col-sm-4" style="margin-top: 30px;height: 34px;" >
                                {{ form_widget(form.adresse) }}
                                <div class="text-red"> {{ form_errors(form.adresse) }}</div>
                            </div>
                            <label for="inputEmail3" style="margin-top: 30px;"  class="col-sm-2 control-label required">Email</label>
                            <div class="col-sm-4" style="margin-top: 30px;height: 34px;" >
                                {{ form_widget(form.email) }}
                                <div class="text-red"> {{ form_errors(form.email) }}</div>
                            </div>

                            </br>

                            <label for="inputEmail3"  style="margin-top: 30px;" class="col-sm-2 control-label required">Tarif</label>
                            <div class="col-sm-4" style="margin-top: 30px;height: 34px;" >
                                {{ form_widget(form.tarif) }}
                                <div class="text-red"> {{ form_errors(form.tarif) }}</div>
                            </div>
                            <label for="inputEmail3"  style="margin-top: 30px;"  class="col-sm-2 control-label required">Mode de paiments</label>
                            <div class="col-sm-4" style="margin-top: 30px;height: 34px;" >
                                {{ form_widget(form.modepaiments) }}
                                <div class="text-red"> {{ form_errors(form.modepaiments) }}</div>
                            </div>

                            </br>
                            <label for="inputEmail3" style="margin-top: 20px;"  class="col-sm-2 control-label required">Specialite</label>
                            <div class="col-sm-4" style="margin-top:  20px;height: 34px;" >
                                {{ form_widget(form.Specialite) }}
                                <div class="text-red"> {{ form_errors(form.Specialite) }}</div>
                            </div>
                        </div>


 
                        <label for="inputEmail3" style="margin-top: 20px;"  class="col-sm-2 control-label required">Description</label>
                        <div class="col-sm-4" style="margin-top:  20px;height: 34px;" >
                            {{ form_widget(form.description) }}
                            <div class="text-red"> {{ form_errors(form.description) }}</div>
                        </div> 

                    </div>
                    {#{{ form_rest(form) }}#}
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="reset" class="btn btn-default">{{ 'form.btn.reset'|trans  }}</button>
                        <button type="submit" class="btn btn-info pull-right">{{ 'form.btn.submit'|trans }}</button>
                    </div>
                    <!-- /.box-footer -->

                    {#{{ form_end(form) }}#}
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
                <!-- /.box -->
                <!-- general form elements disabled -->

                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->








{% endblock %}