
<html lang="fr" >
    <head>
     
        <script type="text/javascript">
          
        </script>

        {#<script src="{{ asset('bundles/front/js/application-public09e1.js') }}"  type="text/javascript"></script>#}
        <script type="text/javascript">
            
        </script>
        <script type="text/javascript">
           
        </script>
        <!-- block css -->
        <link rel="stylesheet" href="{{ asset('bundles/front/css/public/main.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/front/css/public/main09e1.css') }}">
        {#<link rel="stylesheet" href="{{ asset('bundles/front/css/public/mainc296.css') }}">#}
        <link rel="stylesheet" href="{{ asset('bundles/front/css/custom.css') }}">

        {#<script src="{{ asset('bundles/front/js/newrelic/newrelicc296.js') }}"  type="text/javascript"></script>#}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Choisir un motif de consultation </title>
        <meta name="description"
              content="Trouvez votre Gynécologue à Paris 1er et prenez RDV sur Internet facilement et gratuitement, même en urgence.">
        <meta name="keywords"
              content="MonDocteur,médecin connecté,rendez-vous en ligne,trouver un docteur,dentiste paris,ostéopathe paris,généraliste paris,dentiste lyon">
        <meta property="og:title" content="Gynécologue à Paris 1er, 75001 - RDV en ligne"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://www.mondocteur.fr/assets/img/commons/identity/logo-picto.png"/>
        <meta property="og:url" content="https://www.mondocteur.fr/gynecologue/paris-1er"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <meta name="_csrf" content="37e5100d-af7d-4910-aa32-a00ed86de5a0"/>
        <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
        <link rel="stylesheet" href="../assets/css/public/mainc296.css?v=v201705232259"/>
        <meta name="apple-itunes-app" content="app-id=1231038950">
        <script src="../assets/js/jquery/core/1.11.3/jquery-1.11.3.minc296.js?v=v201705232259"></script>
        <script type="text/javascript"> document.createElement("picture");</script>
        <script src="../assets/js/picturefill/picturefill.minc296.js?v=v201705232259"></script>
        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD140ytd2Pz3GMkE1iwvuvMqrOKyW6qIkE&amp;libraries=places"></script>
        <script type="text/javascript">
          
        </script>
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon.png"/>
        <link rel="apple-touch-icon" sizes="57x57" href="../apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="../favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="../manifest.json">
        <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#14385d">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#32b1d2">
        <meta name="msapplication-navbutton-color" content="#32b1d2">
        <meta name="apple-mobile-web-app-status-bar-style" content="#32b1d2">


    </head>
    <body itemscope="" itemtype="http://schema.org/WebPage" class="page--tunnel page--tunnel--1">
        <!--googleoff: index-->
        <div id="cookies-eu-banner" class="cookies-banner container" style="display: none;">
            <div class="cookies-content">
                En poursuivant votre navigation sur ce site, vous acceptez que des cookies soient utilisés afin d’améliorer
                votre expérience d’utilisateur et de vous offrir des contenus personnalisés.
                <a href="/pages/charte-donnees-personnelles-et-cookies.html" id="cookies-eu-more">En savoir plus</a>
            </div>
            <div class="cookies-decision">
                <button id="cookies-eu-reject" class="btn btn-default cookies-reject">Refuser</button>
                <button id="cookies-eu-accept" class="btn btn-validate cookies-accept">Accepter</button>
            </div>
        </div>
        <!--googleon: index-->
        <div id="popupContainer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        <div id="alertContainer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog--small" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
           
        </script>
        <div id="navbar--main" class="navbar--main navbar navbar-fixed-top" role="banner">
            <header class="header--main">
                {% include 'FrontBundle:Default:header.html.twig' %}
            </header>
        </div>
        <main class="content--main  container-fluid ">
            {#<script src="/assets/js/application-public.js?v=v201705232259"></script>#}
            <script type="text/javascript">
                 
            </script>
            <section class="tunnel-form__wrapper  row">
                <header class="tunnel-form__header">
                    <div class="container">
                        <h2>3<!--4--> étapes (rapides) avant de valider votre RDV</h2>
                        <ul class="form__steps__nav">
                            <li class="form__steps__nav__item form__steps__nav__item--current">
                                <span class="step-number">1</span>
                                <span class="step-title">Choisir un motif de consultation</span>
                            </li>
                            <li class="form__steps__nav__item">
                                <span class="step-number">2</span>
                                <span class="step-title">S'identifier</span>
                            </li>
                            <li class="form__steps__nav__item">
                                <span class="step-number">3</span>
                                <span class="step-title">Confirmer votre rdv<!--Valider vos informations--></span>
                            </li>
                            <!-- <li class="form__steps__nav__item">
                                 <span class="step-number">4</span>
                                 <span class="step-title">Confirmer votre rdv</span>
                             </li>-->
                        </ul>
                        <h3 class="form__steps__current-step-title">Choisir un motif de consultation</h3>
                    </div>
                </header>
                <div class="tunnel-form__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-push-6">
                                <div class="tunnel-box tunnel-box--white app-not-yet-conf">
                                    Votre rendez-vous n'est pas encore confirmé.
                                </div>
                                <div class="tunnel-box tunnel-box--white tunnel-box--praticien has-bubble has-bubble--always">
                                    <div class="praticien__sticker">
                                        <div class="praticien__img">
                                            
                                            {% if medecin.Specialite.path == null %} 
                                           <img src="https://dimdzw3dva0cx.cloudfront.net/pictures/card/f6a00d47-0180-4105-bee2-4cab45e85114-elisabeth-descols-dentiste.JPG"
                                                 class="praticien__img__profil" alt=" ">
                                            {% else %}
                                            <img src="{{ asset('upload/img-msg/' ~ medecin.Specialite.path) }}"
                                                 class="praticien__img__profil" alt=" ">
                                        {% endif %}
                                        
                                            
                                            
                                            
                                        </div>
                                        <div class="praticien__fn">
                                            <a href="javascript:void(0);" ><span
                                                    class="praticien__name">Dr
                                                    {{ medecin.nom }}<!--Dr Elisabeth Descols --></span></a>
                                            <span class="praticien__speciality">{{ medecin.Specialite }}<!--Dentiste --></span>
                                        </div>
                                        <div class="praticien__infos">
                                            <p class="praticien__adress">
                                                {{ medecin.adresse }}<!--13, Avenue de l'Opéra<br>75001 Paris--></p>
                                        </div>
                                    </div>
                                </div>
                                <div id="actInformation_container"></div>
                            </div>
                            <div class="tunel-col col-md-6 col-md-pull-6">
                                <form id="bookingForm" name="bookingForm" method="POST" class="tunnel-form  tunnel-box"  >


                                    <div class="form-group">
                                        <div class="control-label">
                                            Avez-vous déjà consulté ce praticien auparavant&nbsp;?
                                        </div>
                                        <div class="form-group__field">
                                            <label class="form-group__field--radio" for="bookingForm_newPatientTrue">
                                                <input type="radio" id="bookingForm_newPatientTrue" value="true"
                                                       name="newPatient" checked="checked">
                                                <span class="l-radio">
                                                    Je suis un nouveau patient
                                                </span>
                                            </label>
                                            <label class="form-group__field--radio" for="bookingForm_newPatientFalse">
                                                <input type="radio" id="bookingForm_newPatientFalse" value="false"
                                                       name="newPatient">
                                                <span class="l-radio">
                                                    Je suis déjà patient de ce praticien
                                                </span>
                                            </label>
                                        </div>
                                    </div>   
                                
                                    
                                    <div class="form-group f-blue-select">
                                        <label class="control-label" for="bookingForm_actId">
                                            Quelle est la raison de votre visite&nbsp;?
                                        </label>
                                        <div class="form-group__field" id="bookingForm_actIdList_container">
                                            <select class="user__select" id="bookingForm_actId" name="actId"
                                                    onchange="/*$.App.Booking.changeAct('07/06/2017 09:00', 7716);*/">
                                                
                                                {% for raisonvisite in  medecin.Specialite.raisonvisites %}
                                                    <option value="{{raisonvisite.id}}" act-id="{{raisonvisite.id}}" act-type-id="{{raisonvisite.id}}" act-linked-act-id="{{raisonvisite.id}}">
                                                    {{raisonvisite.raison}}
                                                   </option>
                                                
                                                {% endfor %}
                                                
                                            
                                            </select>
                                        </div>
                                    </div>


                                    {% include 'FrontBundle:Default:datetimepicker_include.html.twig' %}
                                    <script type="text/javascript">
                                        $(document).ready(function () {

                                            $("div#step1-actions a#valider").click(function () {
                                                $("div#bookingSelection div.form-group__field p").remove();
                                                $("div#step1-span_choose_rdv span").css({"color": "#787878"});
                                                var selectedDate = $("div#datetimepicker5 input").val();
                                                var selectedDate = selectedDate.trim();

                                                var btns1 = $("form#bookingForm div.form-group__field input:radio").eq(0);
                                                var btns2 = $("form#bookingForm div.form-group__field input:radio").eq(1);
                                                if ($(btns1).is(':checked')) {
                                                    var type = "NOUVELLE CONSULTATION ";
                                                }
                                                else if ($(btns2).is(':checked')) {
                                                    var type = "RENOUVELLEMENT TRAITEMENT";
                                                }

                                                if (selectedDate.length === 0) {
                                                    $("div#step1-span_choose_rdv span").css({"color": "red"});

                                                    return false;
                                                }

                                                else {
                                                    var selectedDate = selectedDate.replace("/", "-");
                                                    var selectedDate = selectedDate.replace("/", "-");
                                                    $.ajax({
                                                        type: 'get',
                                                        datatype: "json",
                                                        url: Routing.generate('valider_RDV', {'date': selectedDate, 'type':type, 'medecinId':{{ medecin.id }}}),
                                                        beforeSend: function () {
                                                            $("div#step1-actions img").show();
                                                        },
                                                        success: function (data) {
                                                            $("div#step1-actions img").hide();
                                                            data = JSON.parse(data);
                                                            console.debug(data);
                                                            if (data.length === 1) {
                                                                $("div#bookingSelection div.form-group__field").append(data);
                                                            }
                                                            else {
                                                                $("div#bookingSelection div.form-group__field").append(data[0]);

                                                                $("div#step1-actions a").eq(0).hide();
                                                                $("div#step1-actions a").eq(1).show();

                                                            }

                                                        }
                                                    });
                                                }

                                            });

                                        });
                                    </script>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker5').datetimepicker({
                                                defaultDate: "06/05/2017 09:00",
                                                daysOfWeekDisabled: [0, 6]
                                            });
                                        });
                                    </script>
                                    <div class="form-group tunnel-form__cal" id="bookingSelection">
                                        <div class="control-label">
                                            Heure de votre rendez-vous&nbsp;:
                                        </div>

                                        <div class="form-group__field">
                                            <div class="input-group date" id="datetimepicker5">

                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                          
                                        </div>
                                        <div id="step1-span_choose_rdv" class="form-group__field hide">
                                            <span>
                                                Sélectionnez votre heure de rendez-vous.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="control-label tunnel-form__cal__celendar title-availabilities"
                                         id="title__rdv__doctor-7716">Cliquez sur le créneau qui vous convient :
                                    </div>
                                    <div class="tunnel-form__cal__celendar rdv__dispos__swipe"
                                         id="result__rdv__doctor-7716"></div>
                                    <div id="step1-actions" class="form__actions">
                                        <a class="btn btn-validate btn-form" id="valider"  >Choisir un RDV</a>
                                        
                                        
                                        {% if app.user %}
                                        <a href="{{path("front_valider_rdv",{'id':medecin.id}) }}" class="btn btn-validate btn-form" style="display:none;">Étape suivante</a>
                                        {% else %}
                                         <a href="{{path("fos_user_security_login") }}" class="btn btn-validate btn-form" style="display:none;">Étape suivante</a>
                                        {% endif %}
                                        
                                        <img srcset="{{ asset('bundles/front/images/ajax-loader.gif') }}" alt=""  style="display:none;"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div id="waiting_container"></div>
            {% include 'FrontBundle:Default:section-contact.html.twig' %}
        </main>
        {% include 'FrontBundle:Default:footer.html.twig' %}
        <script>
           
        </script>
        <div id="gaTrackingId" style="display:none;">UA-38892532-1</div>
        <div id="gaDoctorId" style="display:none;">7716</div>
        <div id="gaSpecialityId" style="display:none;">2</div>
        <div id="criteoTrackingId" style="display:none;">22485</div>
        <div id="facebookTrackingId" style="display:none;">870433126375864</div>
    </body>
</html>